.message {
    width: 70%;
    margin: 50px auto;
    text-align: center;
    line-height: 1.2;

    &__btn {
        width: 160px;
        margin: 20px auto 0 auto;
        padding: 16px;
        background-color: #9013fe;
        border-radius: 100px;
        border-width: 2px;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        outline: none;
        display: block;

        &:hover {
            background-color: $white;
            border:1px solid #9013fe;
            color: #9013fe;
        }
    }
}